@import '../../styles/mixins';

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings_link {
    width: rem(35);
    height: rem(35);
    display: block;
    background-image: url('/assets/svg/settings.svg');
    background-repeat: no-repeat;
    background-size: contain;
    &:hover {
      animation: 1s linear 0s normal none infinite running rot;      
 }
}