@import '../../styles/mixins';

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    animation-name: appear;
    animation-duration: 300ms;
    color: black;
    &__dialog {
        background: white;
        position: relative;
        margin: 0 rem(20);
        text-align: left;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 0 rem(4) rem(8) 0 rgba(0, 0, 0, 0.2), 0 rem(6) rem(20) 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: slide-in;
        animation-duration: 0.5s;
        border-radius: rem(30);
        &__close {
          position: absolute;
          top: rem(10);
          right: rem(10);
          width: rem(30);
          height: rem(30);
          border: none;
          background-color: initial;
          background-image: url('/assets/svg/cross.svg');
          background-size: contain;
          cursor: pointer;
        }
    }
    &__content_image {
      max-height: calc(100vh - rem(40));
    }
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(rem(-150));
    }
    to {
      transform: translateY(0);
    }
  }